@import "tailwindcss";

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova/proximanova_regular.otf") format("opentype"),
    url("/fonts/ProximaNova/proximanova_regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova/proximanova_blackit") format("opentype"),
    url("/fonts/ProximaNova/proximanova_blackit") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova/proximanova_bold.otf") format("opentype"),
    url("/fonts/ProximaNova/proximanova_bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fonts/ProximaNova/proximanova_extrabold.otf") format("opentype"),
    url("/fonts/ProximaNova/proximanova_extrabold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

body {
  font-family: "Proxima Nova", sans-serif;
  margin: 0;
  min-height: 100vh;
}

.content {
  background: linear-gradient(
    190deg,
    rgba(84, 211, 194, 1) 0%,
    rgba(48, 137, 138, 1) 100%
  );

  border-radius: 56px;
  display: flex;
  min-height: 100%;
}
